.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  max-width: 100%;
}
.message-card{
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message-user{
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message-usercard{
  background-color: #0b81ff !important;
}
.message-guestcard{
  background-color: #e9e9eb !important;
}
.app-form{
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  background-color: #e9e9eb;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  margin: 20px 0;
}
.app-formcontrol{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100%;
}
.app-iconbuttton:hover{
  background-color: rgba(0,0,0,0) !important;
}
.app-iconbuttton{
  flex: 0 !important;

}
.app-input{
  flex: 1 !important;
}